.settingsContainer {
  position: relative;
  z-index: 10;

  background: #e4e4e4bb;
  backdrop-filter: blur(4px);

  margin: 8px;
  max-width: max-content;
  padding: 10px;

  box-shadow: 2px 2px 2px #00000054;
}
